body{
    background-image: url("../images/crystal.jpg");
    background-size: 100%;
}
#h1{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 49px; 
    color: #fff;
    text-align: center;
}
.image {

    height: 100px;
    width:  100px;
    background-color:white;
    border-style: solid;
    border-color:black;   
    margin:10px;

}

.box {
	float: left;
	border-style: solid;
	border-width: 0.5px;
	border-color: white;
	padding-left: 10px;
	padding-right: 20px;
    width: 600px;
    color:white;
    margin: 10px;
}

.guessNumber{
    float: left;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: white;
    margin:10px;
    line-height: 3em;

}

.totalWinLoss  {

    float: left;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom:20px;
    color:white;
    margin:10px;
    line-height:3em;
}

.score{
    float: left;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom:20px;
    color:white;
    margin:10px;
    line-height:3em;
    }






/* .total {
font-size: 25px;
color: white;
padding-left: 30px;
padding-right: 25px;
padding-bottom:20px;
color:white;
margin:10px;
line-height:3em;
border-style: solid;
border-width: 0.5px;
border-color: white;
} */

/* 

 
.guessNumber{

        float: left;
        border-style: solid;
        border-width: 0.5px;
        border-color: white;
        padding-left: 30px;
        padding-right: 25px;
        padding-bottom: 20px;
        color: white;
        margin:10px;
        line-height: 3em;
    
    }

    .totalWinLoss  {

        float: left;
        border-style: solid;
        border-width: 0.5px;
        border-color: white;
        padding-left: 30px;
        padding-right: 25px;
        padding-bottom:20px;
        color:white;
        margin:10px;
        line-height:3em;
    }
    .score{
        float: left;
        border-style: solid;
        border-width: 0.5px;
        border-color: white;
        padding-left: 30px;
        padding-right: 25px;
        padding-bottom:20px;
        color:white;
        margin:10px;
        line-height:3em;
        }

        .total {
            font-size: 25px;
            color: white;
            float: left;
        padding-left: 30px;
        padding-right: 25px;
        padding-bottom:20px;
        color:white;
        margin:20px;
        line-height:3em;
        }


       
        .row {
            height: 100px;
            width: 100px;
            float: left;
            margin-right: 20px;
            padding-left:15px;
            padding-right:15px;
            border-style: solid;
            border-width: 0.5px;
            border-color: black;
            background-color:white;
        }

        /* .total {
font-size: 25px;
color: white;
float: left;
padding-left: 30px;
padding-right: 25px;
padding-bottom:20px;
color:white;
margin:20px;
line-height:3em;
} */

